<main class="login-site">
    <div>
        <div class="w-100% h-100%">
            <div class="login vert/hor-cen w-350p t-cen">
                <span>Hotel Nomad</span>
                <br> <span>Admin Login</span>
                <br> <input type="text" id="login-username" placeholder="Username">
                <br> <input type="password" id="login-password" placeholder="Password">
                <br> <button>Login</button>
            </div>
        </div>
    </div>
</main>