<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Nomad</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Linked Styles-->
       
        <!-- Linked Fonts -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <!-- Local Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="../css/atomic.css" >
        <link rel="stylesheet" type="text/css" media="screen" href="../css/admin-main.css" >
        <link rel="stylesheet" type="text/css" media="screen" href="../css/admin-layouts.css" >
    </head>
    <body>
    
        {{{body}}}        

        <!-- Linked Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Local Scripts -->
        <script src="../js/admin-main.js"></script>
    </body>
</html>