<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Nomad - Admin</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Linked Styles-->
       
        <!-- Linked Fonts -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <!-- Local Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="./css/atomic.css" >
        <link rel="stylesheet" type="text/css" media="screen" href="./css/admin-main.css" >
        <link rel="stylesheet" type="text/css" media="screen" href="./css/admin-layouts.css" >
    </head>
    <body class="admin-site">
        <div class="admin-title t-cen">
            <h1>Hotel Nomad</h1>
        </div>
        <header class="admin-header header-grid">
            <div>
                <div class="date-time vert/hor-cen w-350p t-cen bgc-teal"><i class="far fa-calendar-alt"></i> Calander | <i class="far fa-clock"></i> Time | <i class="far fa-sun"></i> Weather</div>
            </div>
            <div>
                <div class="vert-cen t-cen">Hi, User Name <i class="fas fa-caret-down"></i></div>
            </div>
        </header>
        <nav class="admin-nav nav-grid">
            <div>
                <div class="vert-cen"><i class="fas fa-tachometer-alt"></i></div>
            </div>
            <div>
                <div class="vert-cen t-left">Dashboard</div>
            </div>
            <div>
                <div class="vert-cen"></div>
            </div>
            <div>
                <div class="vert-cen"><i class="fas fa-concierge-bell"></i></div>
            </div>
            <div>
                <div class="vert-cen t-left">Reservations</div>
            </div>
            <div>
                <div class="vert-cen">*</div>
            </div>
            <div>
                <div class="vert-cen"><i class="fas fa-list-ul"></i></div>
            </div>
            <div>
                <div class="vert-cen t-left">Reservations</div>
            </div>
            <div>
                <div class="vert-cen"></div>
            </div>
            <div>
                <div class="vert-cen"><i class="fas fa-plus"></i></div>
            </div>
            <div>
                <div class="vert-cen t-left">Create New</div>
            </div>
            <div>
                <div class="vert-cen"></div>
            </div>
        </nav>
        <main class="admin-main">
            {{{body}}}
        </main>
        <footer></footer>
        

        <!-- Linked Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Local Scripts -->
        <script src="./js/admin-main.js"></script>
    </body>
</html>