<main class="explore-grid">
    <div class="explore-rooms">
        <div class="room-1 h-100% w-100% breath" id="breath1">
            <div class="h-100% w-100% dim" id="dim1">

                <div class="explore-title t-cen fc-white vert/hor-cen">
                    <a class="cursor-point" onclick='loadPage("rooms")' data-explore-id="1">ROOMS</a>
                </div>

            </div>
        </div>
    </div>
    <div class="explore-restaurants">
        <div class="restaurant-1 h-100% w-100% breath" id="breath2">
            <div class="h-100% w-100% dim" id="dim2">

                <div class="explore-title t-cen fc-white vert/hor-cen">
                    <a class="cursor-point" onclick='loadPage("restaurants")' data-explore-id="2">RESTAURANTS</a>
                </div>

            </div>
        </div>
    </div>
    <div class="explore-amenities">
        <div class="amenity-1 h-100% w-100% breath" id="breath3">
            <div class="h-100% w-100% dim" id="dim3">

                <div class="explore-title t-cen fc-white vert/hor-cen">
                    <a class="cursor-point" onclick='loadPage("amenities")' data-explore-id="3">AMENITIES</a>
                </div>
        
            </div>
        </div>
    </div>
</main>
