<main>
    <h1>Oops!</h1>
    <h2>We can't seem to find the page you're looking for</h2>
    <p>Error code: 404</p>
    Here are some helpful links instead:
    <br> <a href="">Home</a>
    <br> <a href="">Explore</a>
    <br> <a href="">Rooms</a>
    <br> <a href="">Restaurants</a>
    <br> <a href="">Booking</a>
</main>